<div class="f2cf178bcd df11f444aa">
    <h2 class="af8fbdf136 e6208ee469 d0caee4251">Opções de última hora: hotéis perto de você</h2>
    <p class="bcdcb105b3 f45d8e4c32 df64fda51b">Encontre ofertas incríveis de hotéis para hoje à noite ou para sua
        próxima viagem</p>
</div>
<div class="deb2558fd3">
    <div itemscope="" itemtype="http://schema.org/Hotel" data-testid="last-minute-hotels:hotel-card"
        style="--bui_box_spaced_padding--s:4"
        class="c82435a4b8 a178069f51 a6ae3c2b40 a18aeea94d d794b7a0f7 f53e278e95 bd095dbb09">
        <div>
            <picture class="e5a3812a75 ed6a0c6a27" style="--bui_image_width--s:150px;--bui_image_height--s:150px">
                <img itemprop="image" class="e3fa9175ee d354f8f44f ba6d792fd4 b1a5e281e7"
                    src="https://cf.bstatic.com/xdata/images/hotel/square600/5139993.webp?k=bb4e4e884f02db257594185cfaa72e54e760995d02ef107f870e89ff6abb9819&amp;o="
                    alt="Hotel Atlântico Business Centro" loading="lazy">
            </picture>

        </div>

        <div class="ecc9a4771b">
            <div class="fe5b3e7dac"><a href="/hotel/br/atlantico-business.pt-br.html"
                    title="Hotel Atlântico Business Centro - Centro" style="text-decoration: none;" class="aae6007a17">
                    <div class="f2cf178bcd fae2f04636">
                        <h3 itemprop="name" class="title-hotel">Hotel Atlântico Business
                            Centro</h3>
                        <h4 class="a53cbfa6de f45d8e4c32 df64fda51b">
                            <div itemscope="" itemtype="http://schema.org/PostalAddress" itemprop="address"
                                class="a53cbfa6de f45d8e4c32">Centro</div>
                        </h4>
                    </div>
                </a>

            </div>
            <div class="ea25a157a2">
                <h4 style="color: black; font-weight: 700">Descição:</h4>

                <div class="description">
                    <p style=" word-wrap: break-word;"> styfwefwefwefwefwefwefwefwefwefwefwefewfwefwefsc\cacDACacas
                        acscasasd d adasda</p>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>